<table id="ControllerComponent">
  <tr>
    <td></td>
    <td>
      <img id="UpButton" class="button"
        [class.disabled]="actionOptions[direction.Up] === actionOption.None" 
        (click)="clickHandler(direction.Up)" 
        src="~/../assets/images/{{getActionName(direction.Up)}}Action.png" />
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <img id="LeftButton" class="button"
        [class.disabled]="actionOptions[direction.Left] === actionOption.None" 
        (click)="clickHandler(direction.Left)" 
        src="~/../assets/images/{{getActionName(direction.Left)}}Action.png" />
    </td>
    <td>
        <img src="~/../assets/images/characterFace.png" />
    </td>
    <td>
      <img id="RightButton" class="button"
        [class.disabled]="actionOptions[direction.Right] === actionOption.None" 
        (click)="clickHandler(direction.Right)" 
        src="~/../assets/images/{{getActionName(direction.Right)}}Action.png" />
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <img id="DownButton" class="button"
        [class.disabled]="actionOptions[direction.Down] === actionOption.None" 
        (click)="clickHandler(direction.Down)" 
        src="~/../assets/images/{{getActionName(direction.Down)}}Action.png" />
    </td>
    <td></td>
  </tr>
</table>
