<table id="ControllerComponent">
  <tr><td></td><td>
    <button id="UpButton" [disabled]="actionOptions[direction.Up] === actionOption.None" (click)="clickHandler(direction.Up)">{{actionOption[actionOptions[direction.Up]]}}</button>
  </td><td></td></tr>
  <tr><td>
    <button id="LeftButton" [disabled]="actionOptions[direction.Left] === actionOption.None" (click)="clickHandler(direction.Left)">{{actionOption[actionOptions[direction.Left]]}}</button>
  </td><td></td><td>
    <button id="RightButton" [disabled]="actionOptions[direction.Right] === actionOption.None" (click)="clickHandler(direction.Right)">{{actionOption[actionOptions[direction.Right]]}}</button>
  </td></tr>
  <tr><td></td><td>
    <button id="DownButton" [disabled]="actionOptions[direction.Down] === actionOption.None" (click)="clickHandler(direction.Down)">{{actionOption[actionOptions[direction.Down]]}}</button>
  </td><td></td></tr>
</table>
