#Page
    background-color: dimgrey

.panel
    border: thick solid black

.title
    display: inline-block
.rightButtons
    float: right

.vertialPanel
    display: inline-block
    min-height: 1000px

.leftPanel25
    width: 24%
    float: left

.centrePanel50
    width: 49%
    float: left

.rightPanel25
    width: 25%
    display: inline-block