<div id="Page">
  <div class="panel panel100x5">
      <div class="panelContent">
        <h1 class="title">Welcome to the Dungeon!</h1>
        <app-menu class="rightButtons" (restartEvent)="restart()" [isGameOver]="character.isDead()"></app-menu>
      </div>
  </div>
  <div class="panel panel25x50">
      <div class="panelContent">
        <app-character [character]="character"></app-character>
        <app-controller [actionOptions]="actionOptions" (actionEvent)="actionHandler($event)"></app-controller>
      </div>
  </div>
  <div class="panel panel50x50">
      <div class="panelContent">
        <app-map [mapGrid]="mapGrid"></app-map>
      </div>
  </div>
  <div class="panel panel25x50">
      <div class="panelContent">
        <app-enemies [enemies]="enemies"></app-enemies>
      </div>
  </div>
  <div class="panel panel100x5">
      <div class="panelContent">
        <app-user-console></app-user-console>
      </div>
  </div>
</div>