img
    vertical-align: top

.flipX
    transform: scaleX(-1)
    
.flipY
    transform: scaleY(-1)

.flipXandY
    transform: scale(-1, -1)

.rotate90
    transform: rotate(90deg)
    
.rotate180
    transform: rotate(180deg)
    
.rotate270
    transform: rotate(270deg)