<div class="container">
    <div class="backgroundRow" [style.padding-top.%]="imageWidthPercentage">
        <div class="container">
            <div class="cell" [style.width.%]="imageWidthPercentage"><img src="~/../assets/images/backgroundTopLeft.png" /></div>
            <div class="cell" [style.width.%]="imageWidthPercentage" *ngFor="let index of horizontalCountLessCornersAsList"><img src="~/../assets/images/backgroundTop.png" /></div>
            <div class="cell" [style.width.%]="imageWidthPercentage"><img src="~/../assets/images/backgroundTopRight.png" /></div>
        </div>
    </div>
    <div *ngFor="let index of verticalCountLessCornersAsList" class="backgroundRow" [style.padding-top.%]="imageWidthPercentage">
        <div class="container">
            <div class="cell" [style.width.%]="imageWidthPercentage"><img src="~/../assets/images/backgroundLeft.png" /></div>
            <div class="cell" [style.width.%]="imageWidthPercentage" *ngFor="let index of horizontalCountLessCornersAsList"><img src="~/../assets/images/backgroundCentre.png" /></div>
            <div class="cell" [style.width.%]="imageWidthPercentage"><img src="~/../assets/images/backgroundRight.png" /></div>
        </div>
    </div>
    <div class="backgroundRow" [style.padding-top.%]="imageWidthPercentage">
        <div class="container">
            <div class="cell" [style.width.%]="imageWidthPercentage"><img src="~/../assets/images/backgroundBottomLeft.png" /></div>
            <div class="cell" [style.width.%]="imageWidthPercentage" *ngFor="let index of horizontalCountLessCornersAsList"><img src="~/../assets/images/backgroundBottom.png" /></div>
            <div class="cell" [style.width.%]="imageWidthPercentage"><img src="~/../assets/images/backgroundBottomRight.png" /></div>
        </div>
    </div>
</div>