#CharacterComponent
    position: absolute
    top: 45%
    right: 10%
    bottom: 5%
    left: 10%
    
    .container
        position: relative
        width: 100%
        padding-top: 17%
        margin-left: 20%
        
        .content
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0

            span
                color: white

            img
                height: 100%