<div id="CharacterComponent">
    <div class="container"><div class="content"><img src="~/../assets/images/levelStat.png" /><span> {{character.level}}</span></div></div>
    <div class="container"><div class="content"><img src="~/../assets/images/experienceStat.png" /><span> {{character.experience}}</span></div></div>
    <div class="container"><div class="content"><img src="~/../assets/images/healthStat.png" /><span> {{character.health}}/{{character.maxHealth}}</span></div></div>
    <div class="container"><div class="content"><img src="~/../assets/images/goldStat.png" /><span> {{character.gold}}</span></div></div>
    <div class="container"><div class="content"><img src="~/../assets/images/attackStat.png" /><span> {{character.attack}}</span></div></div>
    <div class="container"><div class="content"><img src="~/../assets/images/defenceStat.png" /><span> {{character.defence}}</span></div></div>
    <div class="container"><div class="content"><img src="~/../assets/images/damageStat.png" /><span> {{character.damage}}</span></div></div>
</div>
