.container
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

.backgroundRow
    position: relative

    .cell
        display: inline-block

        img
            vertical-align: top
            width: 100%